<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mesmotronic.ane.fullscreen"
    android:versionCode="140"
    android:versionName="1.4.0" 
    >
	
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"
        />

    <application />

</manifest>
