<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mesmotronic.ane.fullscreen"
    android:versionCode="150"
    android:versionName="1.5.0" 
    >
	
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21"
        />

    <application />

</manifest>
